.ViewProjects{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(2, 4, 27) ;
    color:#fff;
}
.latestProject{
    text-align: center;
    margin: 2rem;
    font-size: clamp(2rem,3vw,3rem);
}
.ViewProjects .container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 3rem 0;
}
.views{
    width: 50%;
    margin: auto;
    height: auto;
    padding: 2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #fff, -0.1rem -0.1rem 0.5rem #fff;
    border-radius: 0.5rem;
    }
    
    .view{
        position: relative;
        padding: 0.4rem;
        min-height: 6rem;
        height: auto;
        display: flex;
        margin: 2rem 0;
        box-shadow: 0.1rem 0.1rem 0.2rem #7748fa83, -0.1rem -0.1rem 0.2rem #7748fa83;
    }

.view .image{
    width: 14rem;
    height: auto;
    margin-right: 1rem;
}
.view div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.view .docs{
    margin-left: 1rem;
}

.view .docs h1{
    font-size: clamp(1.4rem,1.8vw,1.8rem);
    padding: 0 0.4rem;
    }
    
    .view .docs p{
    font-size: clamp(1rem,1.2vw,1.2rem);
    padding: 0 0.4rem;
}


.deletebtn{
    position: absolute;
    top: -1.6rem;
    right: 1rem;
    background-color: rgb(211, 25, 25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0.9rem;
    cursor: pointer;
}

.deletebtn:hover{
    background-color: rgba(203, 94, 94, 0.817);
}



.deletebtn svg{
    font-size: 2rem;
}
@media screen and (max-width:750px) {
    .views{
        width: 60%;
        }
    .view .image{
        width: 20rem;
     }
}
@media screen and (max-width:624px) {
    .views{
        width: 70%;
    }

    .view .image{
        width: 30rem;
     }

     .view .docs{
        margin-left: 0;
    }

}
@media screen and (max-width:530px) {
    .views{
        width: 80%;
        padding: 1rem;
    }
    .view .docs p{
        text-align: justify;
    }


}
@media screen and (max-width:480px) {
    .views{
        width: 90%;
    }
}